qemu
esp-idf
build
flash_image_*.bin
.qemubak
.deepseek
.agents
*.gdb
*.pdf
Image
xipImage
*.dtb
fw_payload.bin
AGENTS.md
rootfs.*
s31_rom.bin
.codewhale
.agents
.vscode
toolchain
firmware/radio/idf_deps/managed_components/
firmware/radio/idf_deps/build-radio/
logs/
docs/esp-idf-docs/
__pycache__/
*.py[cod]
/buildroot-external/board/esp32-s31/overlay/lib/firmware/esp32s31/s31-lp-core.elf
/buildroot-external/board/esp32-s31/overlay/lib/firmware/esp32s31/s31-lp-core.bin
